<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/shell :: head('Impressum')}"></head>
<body th:attr="data-signed-in=${user != null}">
<header th:replace="~{fragments/shell :: header}"></header>
<main id="main">
  <div th:replace="~{fragments/shell :: paused}"></div>
  <div class="prose">
  <h1>Impressum</h1>
  <p class="lead">Angaben nach &sect;&nbsp;5 DDG. <span lang="en">This page is in German because German law requires it of a German operator; the rest of the site is in English.</span></p>

  <div class="todo">Entwurf, kein Rechtsrat. Vor dem &ouml;ffentlichen Start pr&uuml;fen lassen (Plan L1/P5). Solange in diesem Kasten steht, was fehlt, darf die Seite nicht &ouml;ffentlich beworben werden &ndash; ein unvollst&auml;ndiges Impressum ist abmahnf&auml;hig.</div>

  <h2>Diensteanbieter</h2>
  <div class="todo">Einzutragen: Vor- und Nachname, ladungsf&auml;hige Anschrift mit Stra&szlig;e, Hausnummer, PLZ, Ort und Land. Ein Postfach oder eine c/o-Adresse reicht nicht &ndash; es muss eine Adresse sein, an die zugestellt werden kann.</div>
  <p>
    [ TODO: Vorname Nachname ]<br>
    Einzelunternehmen<br>
    [ TODO: Stra&szlig;e Hausnummer ]<br>
    [ TODO: PLZ Ort ]<br>
    Deutschland
  </p>

  <h2>Kontakt</h2>
  <div class="todo">Einzutragen: eine E-Mail-Adresse, die tats&auml;chlich gelesen wird. Sie ist zugleich die Adresse, an die rechtliche Mitteilungen gehen. Eine Telefonnummer ist nicht zwingend, wenn eine schnelle elektronische Kontaktaufnahme m&ouml;glich ist.</div>
  <p>E-Mail: [ TODO: kontakt@playmations.com ]</p>

  <h2>Umsatzsteuer-Identifikationsnummer</h2>
  <div class="todo">Falls vorhanden eintragen (Angabe nach &sect;&nbsp;27&nbsp;a UStG). Falls nicht vorhanden: diesen Abschnitt ersatzlos streichen, nicht &bdquo;keine&ldquo; hineinschreiben.</div>

  <h2>Kontaktstelle nach dem Digital Services Act</h2>
  <p>Zentrale Kontaktstelle f&uuml;r Nutzerinnen und Nutzer sowie f&uuml;r Beh&ouml;rden nach Art.&nbsp;11 und 12 der Verordnung (EU) 2022/2065: die oben genannte E-Mail-Adresse.
     Sprachen der Kommunikation: Deutsch und Englisch.</p>
  <p>Meldungen &uuml;ber rechtsverletzende Inhalte gehen am schnellsten &uuml;ber das
     <a href="/takedown.html">Meldeformular</a>. Daf&uuml;r wird kein Konto ben&ouml;tigt.</p>

  <h2>Verbraucherstreitbeilegung</h2>
  <p>Wir sind nicht bereit und nicht verpflichtet, an Streitbeilegungsverfahren vor einer
     Verbraucherschlichtungsstelle teilzunehmen.</p>
  <div class="todo">Hier bewusst <em>kein</em> Link auf die OS-Plattform der EU: die wurde am 20.&nbsp;Juli 2025 abgeschaltet. Vorlagen aus dem Netz enthalten den Link oft noch &ndash; nicht &uuml;bernehmen.</div>

  <h2>Inhalte von Nutzerinnen und Nutzern</h2>
  <p>Die hier geteilten Animationen stammen von den angemeldeten Personen, nicht vom Anbieter.
     Wir pr&uuml;fen sie nicht vorab. Auf eine Meldung hin wird ein Clip sofort verborgen und
     anschlie&szlig;end gepr&uuml;ft; Einzelheiten stehen in den
     <a href="/terms.html">Nutzungsbedingungen</a> und den
     <a href="/rules.html">Community-Regeln</a>.</p>
  </div>
  </main>
<footer th:replace="~{fragments/shell :: footer}"></footer>
<script th:src="|${@buildStamp.assets}/app.js|"></script>
</body>
</html>
